---
// terminal-text.astro
export interface Props {
  text?: string; // The text to type out
  typingSpeed?: number; // Average wpm
  showCursor?: boolean; // Whether to show the blinking cursor
  prompt?: string; // The prompt to display before the text
}

const {
  text,
  typingSpeed = 100,
  showCursor = true, // Default to showing the cursor
  prompt = "$", // Default to bash $ prompt
} = Astro.props;
---
<div
  class="terminal"
  data-text={text}
  data-typing-speed={typingSpeed}
  data-show-cursor={showCursor}
  data-prompt={prompt}
  tabindex="-1"
>
  <span class="typed-text"></span><span class="cursor"></span>
</div>

<style>
  .terminal {
    font-family: "Roboto Mono", monospace;
    color: var(--terminal-text);
    background-color: var(--terminal-bg);
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
  }

  .typed-text {
    display: inline;
    text-align: left;
  }

  .cursor {
    display: inline-block;
    background-color: var(--terminal-text);
    width: 12px;
    animation: blink 1s steps(1, start) infinite;
    margin-left: 0;
    vertical-align: sub;
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
</style>

<script type="module">
  const terminal = document.querySelector(".terminal");
  const cursor = terminal.querySelector(".cursor");
  const typedText = terminal.querySelector(".typed-text");

  const splashTexts = await fetch("/splash-texts.json").then((res) => res.json());

  console.log(splashTexts);
  console.log("test");

  const fullText = (terminal.dataset.text === undefined) ? splashTexts.splashTexts[Math.floor(Math.random() * splashTexts.splashTexts.length)] : terminal.dataset.text;
  
  const prompt = terminal.dataset.prompt;
  const typingSpeed = parseInt(terminal.dataset.typingSpeed, 10) || 40;
  const showCursor = terminal.dataset.showCursor === "true";

  const msPerChar = 12000 / typingSpeed;

  const computedStyle = window.getComputedStyle(terminal);
  const fontSize = parseFloat(computedStyle.fontSize);

  const totalCharacters = (prompt + " " + fullText).length;
  const charWidth = fontSize * 0.55;
  const terminalWidth = totalCharacters * charWidth + charWidth;

  terminal.style.width = `${terminalWidth}px`;

  cursor.style.height = `${fontSize}px`;
  cursor.style.width = `${Math.round(fontSize / 2)}px`;

  if (!showCursor) {
    cursor.style.display = "none"; 
  }

  typedText.textContent += prompt + " ";

  let index = 0;
  function typeText() {
    if (index < fullText.length) {
      typedText.textContent += fullText[index];
      index++;

      const rand = Math.random() * (1.4 - 0.6) + 0.6;

      setTimeout(typeText, Math.floor(msPerChar * rand));
    }
  }

  typeText();
</script>